body {
    background: url("./spyglass.jpg") no-repeat center center fixed;
    background-size:100% 100%;
    background-blend-mode:lighten;
    margin:0;
    height:100%;
    padding:0;
    color: brown;
}
.output{
    position: relative;
    background-color: burlywood;
    background-blend-mode: darken;
}